*{
  margin: 0;
  padding: 0;
}

.navbar{
    background-color: rgb(4, 165, 152);
    /* height: 50px; */
}

.appul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.appli{
list-style: none;
margin-top: 20px;
margin-bottom: 20px;
margin-right: 50px;
}

.navbar ul li p{
  color: rgb(3, 53, 53);
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul li {
    margin-bottom: 10px;
  }

  .navbar ul li p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .navbar ul li p {
    font-size: 14px;
  }
}